# Node.js
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn Integrity file
.yarn-integrity

# Misc
.DS_STORE
*.afdesign
/tmp
/temp

# old files
/.old
**/.old

# docker images
.docker.archive

# build files
/dist
/build

# secrets
/src/.config/*
!/src/.config/env.sample.js